extends ../../layouts/default.pug

block main  
    h1(class="mb-4") Chi tiết sản phẩm 
    p Tiêu đề: #{product.title}
    p Mô tả: !{product.description}
    p Giá: #{product.price}
    p Giảm giá: #{product.discountPercentage}
    p Số lượng: #{product.stock}
    if (product.thumbnail)
        p Hình ảnh: 
        img(src=product.thumbnail class="thumbnail-preview" img-preview-output)
    p Tình trạng:
        if (product.status == "active")
            p(class="badge text-bg-success") Hoạt động
        else 
            p(class="badge text-bg-danger") Không hoạt động
