extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug

block main 
    h1 Danh sách sản phẩm

    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm 
        .card-body 
            .row 
                .col-6 
                    +filter-status(filterButtons)
                .col-6
                    +search(keyword)
            
    .card.mb-3 
        .card-header Danh sách sản phẩm
        .card-body 
            form(
                action=`${prefixAdmin}/products/change-multi?_method=PATCH`
                method="POST"
                form-change-multi
            ) 
                .d-flex.align-items-start 
                    .form-group 
                        select(name="type" class="form-control")
                            option(value="active") Hoạt động
                            option(value="inactive") Không hoạt động
                            option(value="update-position") Thay đổi vị trí
                    .form-group 
                        input(
                            type="text"
                            name="ids"
                            value=""
                            class="form-control"
                        )
                    button(type="submit" class="btn btn-primary") Áp dụng
            form(
                action=`${prefixAdmin}/products/delete-multi?_method=DELETE` 
                method="POST"
                id="form-delete-multi"
            ) 
                .d-flex.align-items-start 
                    .form-group.d-none 
                        input(
                            type="text"
                            name="ids"
                            value=""
                            class="form-control"
                        )
                    button(type="submit" class="btn btn-danger btn-sm" btn-delete-multi) Xóa
            table(class="table table-hover table-sm" checkbox-multi)
                thead
                    tr
                        th 
                            input(type="checkbox" name="checkall")
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Gía
                        th Trạng thái
                        th Hành động
                tbody 
                    each item, index in products
                        tr 
                            td 
                                input(type="checkbox" name="id" value=item.id )
                            td #{index + 1}
                            td 
                                img(
                                    src=item.thumbnail
                                    alt=item.title
                                    width="102px"
                                    height="auto"
                                )
                            td #{item.title}
                            td #{item.price}$
                            td 
                                input(
                                    type="number"
                                    value=item.position
                                    style="width: 60px"
                                    min="1"
                                    name="position"
                                )
                            td 
                                if (item.status === "active")
                                    p(
                                        data-status=item.status 
                                        data-id=item.id
                                        button-change-status
                                        class="badge text-bg-success"
                                    ) Hoạt động
                                else 
                                    p(
                                        data-status=item.status 
                                        data-id=item.id
                                        button-change-status
                                        class="badge text-bg-danger"
                                    ) Không hoạt động
                            td 
                                button(class="btn btn-warning btn-sm mx-2") Sửa
                                button(class="btn btn-danger btn-sm" btn-delete data-id=item.id ) Xóa

    +pagination(pagination) 
    form(
        action="" 
        method="POST"
        id="form-change-status"
        path=`${prefixAdmin}/products/change-status`
    ) 
    form(
        action="" 
        method="POST"
        id="form-delete"
        path=`${prefixAdmin}/products/delete`
    ) 

    script(src="js/products.js") 